server:
	interface: {{ unbound_interface_ip }}

	access-control: 0.0.0.0/0 refuse
	access-control: 127.0.0.0/8 refuse
	access-control: ::0/0 refuse
{% for allowed_subnet in unbound_allowed_subnets %}
        access-control: {{ allowed_subnet }} allow
{% endfor %}

	hide-identity: yes
	hide-version: yes

	aggressive-nsec: yes

	include: "/var/unbound/dnsblockbuster/unbound-blocked-hosts.conf"
{% if unbound_local_dns %}
        include: "/var/unbound/etc/home_net.conf"
{% endif %}
{% if unbound_log_queries %}
        log-local-actions: yes
        logfile: /var/log/unbound.log
        use-syslog: no
        verbosity: {{ unbound_log_verbosity }}
{% endif %}

remote-control:
	control-enable: yes
	control-interface: /var/run/unbound.sock
