server:
	interface: 127.0.0.1

	access-control: 0.0.0.0/0 refuse
	access-control: 127.0.0.0/8 refuse
	access-control: ::0/0 refuse
	access-control: {{ wireguard_subnet }}.0/24 allow

	hide-identity: yes
	hide-version: yes

	aggressive-nsec: yes

	include: "/var/unbound/dnsblockbuster/unbound-blocked-hosts.conf"
{% if unbound_log_queries %}
        log-local-actions: yes
        logfile: /var/log/unbound.log
        use-syslog: no
        verbosity: {{ unbound_log_verbosity }}
{% endif %}

remote-control:
	control-enable: yes
	control-interface: /var/run/unbound.sock
